*{
    margin: 0;
}

body{
    background-color: rgb(242, 242, 251);
}

.header{
    background-color: blue;
    padding:2px;
    
}

.nav-links{
    list-style:none;
    display:flex;
 justify-content:end;
}

.nav-links a{
    text-decoration: none;
    color:white;
    padding: 10px;
    

}
.nav-links li{
    margin-left:40px;
    
}
.navber{
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.nav-links1{
    color:white;
    padding: 2px;
   
}
   .hero-section{
    display:flex;
    background-color:rgb(233, 227, 227);
    margin-bottom: 20px;
}


.hero-section h1{
    margin-bottom: 25px;
}

.hero-section p
{
    margin-bottom:25px;
}
.hero-section button{
    background-color:blue;
    color: white;
    padding-left: 20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom: 5px;
    border:none;
    margin-bottom: 10px;
}
.hero-section img{
    width:270px;
    height:300px;
    padding: 30px;
}
.hero-div1{
    padding: 100px;
}
.item{
    width: 20px;
    height:80px;
    background-color:rgb(205, 180, 180);
}
.container1{
    display:grid;
    grid-template-columns: 250px 250px 250px 250px;
    gap:40px;
    justify-content: center;
    padding: 10px;
}

.card{
    background-color:rgb(227, 219, 219);
    border-radius:20px;
    padding:20px;
    text-align: center;

    }
.card img{
    max-width:15%;
    padding:10px;
    text-align:center;
    padding-left: 10px;
}
h3{
    text-align: center;
}
.card-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    background-color: rgb(41, 42, 42);
    height: 150px;
    width:1300px ;
    color:#f0f8ff;
    padding-left: 90px;
     justify-items:space-between;
     
}
.my-skills{
    text-align:center;
    margin-bottom:20px;
}

.container2{
    padding-top:20px;
    
    }
   h2{
    text-decoration: underline blue;
   }
    
   

.button{
   background-color:rgb(36, 36, 38);
   color: #f3ebeb;
   
   padding: 20px;
   width:1400px;
}